.bread_crumbs
  .bread_crumbs__line
    - breadcrumb :card
    = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-chevron-right')}", class: "breadcrumbs-list"
.mypage
  .mypage_container
    .mypage_index
      = render "side_content"
    .card
      .card__main
        .card__main__btn
          = link_to "クレジットカード登録", "/"