<div class = "main">


  <%# トップページ上部の画像部分（人生を変えるフリマアプリ） %>
  <section class = "top-visual">
    <div class = "content">
      <h2 class = "content__title">人生を変えるフリマアプリ</h2>
      <p class = "content__subtitle">FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです</p>
      <div class = "content__btn">
        <a class = "app-btn" href = "#">
          <img src = "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg">
        </a>
        <a class = "google-btn" href = "#">
          <img src = "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg">
        </a>
      </div>
    </div>
  </section>


  <%# FURIMAが選ばれる3つの理由 %>
  <section class = "top-introduction">
    <h2 class = "title">FURIMAが選ばれる3つの理由</h2>

    <ul class = "lists">
      <li class = "lists__list">
        <div class = "lists__pict">
          <span class = "number">1</span>
          <img src = "/assets/images/material/pict/pict-reason-01.jpg">
        </div>
        <h3><span>3分</span>ですぐに出品</h3>
        <p>スマホで入力するだけで簡単に入力できる！</p>
      </li>

      <li class = "lists__list">
        <div class = "lists__pict">
          <span class = "number">2</span>
          <img src = "/assets/images/material/pict/pict-reason-02.jpg">
        </div>
        <h3><span>シンプル</span>で使いやすい</h3>
        <p>めんどくさい入力は必要なく、検索も購入もスムーズ！</p>
      </li>

      <li class = "lists__list">
        <div class = "lists__pict">
          <span class = "number">3</span>
          <img src = "/assets/images/material/pict/pict-reason-03.jpg">
        </div>
        <h3><span>手数料</span>業界最安</h3>
        <p>最大3%でお得に出品&購入！</p>
      </li>
    </ul>
  </section>


  <%# トップページ中央の画像部分（会員数日本一位） %>
  <section class = "middle-visual">
    <div class = "inner">
      <h2 class = "inner__title">会員数日本一位</h2>
      <p class = "inner__subtitle">FURIMAは、フリマアプリで最も人気。 <br>出品・購入回数も業界最多です！ <br>ほしかったあの商品に出会えるかもしれません。</p>
      <div class = "innner__btn">
        <a class = "app-btn" href = "#">
          <img src = "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg">
        </a>
        <a class = "google-btn" href = "#">
          <img src = "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg">
        </a>
    </div>
  </section>


  <%# FURIMAの特徴 %>
  <section class = middle-introduction>
    <h2 class = "head">FURIMAが選ばれる3つの理由</h2>

    <ul class = "items">
      <li class = "items__item">
        <div class = "items__item__icon">
          <img src = "">
        </div>
        <h3 class = "items__item__subtitle">簡単に売り買いできる</h3>
        <p class = "items__item__detail">スマホで入力するだけで簡単に入力できる！</p>
      </li>

      <li class = "items__item">
        <div class = "items__item__icon">
          <img src = "">
        </div>
        <h3 class = "items__item__subtitle">売上金は即日振込みに対応</h3>
        <p class = "items__item__detail">午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!</p>
      </li>

      <li class = "items__item">
        <div class = "items__item__icon">
          <img src = "">
        </div>
        <h3 class = "items__item__subtitle">様々な支払いに対応</h3>
        <p class = "items__item__detail">お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。</p>
      </li>
    </ul>
  </section>


  <%# ピックアップカテゴリー %>
  <section class = pickup-categories>
  </section>


  <%# ピックアップブランド %>
  <section class = pickup-category>
  </section>
</div>