%main.itembuy_main_contents
  .itembuy_main_contents_border
    %h2.title1 購入内容の確認
  %section.itembuy_content
    .itembuy_content_in
      .itembuy_content_in__left
        = image_tag 'rip.png' ,width: 75,height: 75
        -# = image_tag "#{item.images[0].image_url}",
      .itembuy_content_in__right
        .top1 商品名
        .bottom1 1.000円(税込) 送料込み

