* {
  box-sizing: border-box;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}

.card-main {
  display: flex;

  padding-top: 40px;
  &__container {
    width: 700px;
    background: #fff;
    margin: 0 auto;
    .card-main__head {
      font-size: 24px;
      padding: 8px 24px;
      text-align: center;
      line-height: 1.4;
      font-weight: bold;
      border-bottom: 1px solid rgb(218, 234, 240);
    }
  }
  .card-input-contents {
    padding: 24px 16px 40px;
    border-top: 1px solid #F5F5F5;
    display: block;
    .card-input-content {
      max-width: 330px;
      margin: 0 auto;
      .from-group {
        margin: 40px 0 0;
      }
      label {
        font-weight: 600;
      }
      .require {
        background: #3CCACE;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
        float: right;
      }
      #card_number,#exp_month,#exp_year,#cvc {
        height:40px;
      }
        input {
          width: 100%;
          margin: 8px 0 0;
          height: 30px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          line-height: 1.5;
          font-size: 16px;
        }
        .signup-card-list {
          margin: 8px 0 0;
          font-size: 0;
        }
        ul {
          list-style: none;
          display: block;

          li {
            display: inline-block;
            margin: 0 0 0 8px;
          }
        }
      }
      .form-group-expire {
        margin: 24px 0 0;
        .select-wrap {
          display: flex;
          margin: 8px 0 0;
          position: relative;
          width: calc(100% - 38px);
          &__half {
            overflow: hidden;
            width: 120px;
            margin-top: 8px;
            text-align: center;
            position: relative;
          }
        }
          select {
            box-sizing: border-box;
            width: calc(100% - 38px);
            height: 50px;
            padding: 10px 16px 8px;
            border-radius: 4px;

            background: #fff;
            position: absolute;
          }
          .select-default {
            position: relative;
            z-index: 2;
            height: 48px;
            padding: 0 16px;
          }
        }
      }
    }
#token_submit {
  background: #3CCACE;
  border: 1px solid #3CCACE;
  border-radius: 20px;
  color: #fff;
  display: block;
  width: 100%;
  font-size: 14px;
  transition: all ease-out .6s;
  height:50px;
  cursor: pointer;

  &_bottan{
    width: 120px;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 30px;

  
    &_txt{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
  }
}