* {
  box-sizing: border-box;
}
.card-save-inner {
  padding: 30px 200px;
  margin: 0 auto;
}
  .card-save-save {
    display: block;
    text-align: center;
    
    &--content {
      min-width: 320px;
      margin: 0 auto;
      .payment-list {
        display: block;
      }
    }
  }
  .from-content {
    display: flex;
  }
.delete-btn {
  border-radius: 20px;
  border: 1px solid #ccc;
  width:300px;
  height:50px;
  font-size: 14px;
  line-height:50px;
  margin:20px auto;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 1.5s ease-out;
  transition: all 0.9s ease-out;
  background: -webkit-linear-gradient(180deg, #3CCACE , rgba(40, 234, 255, 0.8), rgba(205, 200, 252, 0), rgba(5, 56, 13, 0));
  background: -webkit-linear-gradient(right,#3CCACE  ,  rgba(40, 234, 255, 0.8), rgba(205, 200, 252, 0), rgba(5, 56, 13, 0));
  background: linear-gradient(270deg, #3CCACE , rgba(175, 128, 255, 0.8), rgba(205, 200, 252, 0), rgba(210, 216, 211, 0));
  background-position: 1% 50%;
  background-size: 300% 300%;
  }
  .delete-btn:hover {
  background-position: 99% 50%;
  color: rgb(96, 93, 93) !important;
  border: 1px solid rgba(205, 200, 252, 0);
  }