.categories__container{
  background-color: #f8f8f8;
  padding: 50px;
  &__title{
    background-color: #3CCACE;
    color: white;
    height: 62px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    line-height: 62px;
    font-weight: bold;
    font-size: larger;
    border-radius: 5px 5px 0 0;
  }
  &__list{
    background-color: white;
    width: 60%;
    border-radius: 0 0 5px 5px;
    margin: 0 auto;
    padding: 20px;
    &--link{
      color: #ffb340;
      font-size: 14px;
      padding-right:30px;
      line-height: 45px;
    }
  }
}