* {
  box-sizing: border-box;
  .main {
    background: #f8f8f8;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;



    // 人生を変えるフリマアプリ
    &__top-visual {
      width: 100%;
      height: 560px;
      background-image: url("/assets/material/pict/bg-mainVisual-pict_pc.jpg");
      background-size: cover;
      background-position: top center;
      position: relative;
      padding: 0 60px;
      display: flex;
      align-items: center;
      &__content {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 35px 0 0 0;
        &__title {
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 60px;
          line-height: 1.2;
          color: #fff;
        }
        &__subtitle {
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
          color: #fff;
          line-height: 1.8;
          margin: 16px 0 0 0;
        }
        &__btn {
          display: flex;
          margin: 24px 0 0 0;
          &__apple {
            margin-right: 10px;              
            .image {
              width: 180px;
            }
            .image:hover {
              opacity: 0.6;
              transition-duration: 0.3s;
            }
          }
          &__google {
            .image {
              width: 180px;
            }
            .image:hover {
              opacity: 0.6;
              transition-duration: 0.3s;
            }
          }
        }
      }
    }



    // FURIMAが選ばれる3つの理由
    &__top-introduction {
      padding: 60px 20px;
      &__title {
        text-align: center;
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 0;
        padding-bottom: 10px;
        &__border {
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          margin: 0 auto;
          margin-bottom: 25px;
        }
      }
      &__lists {
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        &__list {
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
          &__pict {
            position: relative;
            margin-bottom: 20px;
            &__number {
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
            }
            .image {
              width: 100%;
              vertical-align: bottom;
            }
          }
          &__text {
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
          }
          span.main__top-introduction__lists__list__text {
            color: #3CCACE;
          }
          &__description {
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
    }



    // 会員数日本一位
    &__middle-visual {
      background-image: url("/assets/material/pict/bg-topMiddleDl-pict.jpg");
      background-position: bottom right;
      height: 400px;
      background-size: cover;
      display: flex;
      align-items: center;
      &__content {
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        &__title {
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        &__text {
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
        }
        &__btn {
          display: flex;
          margin: 24px 0 0 0;
          &__apple {
            margin-right: 10px;              
            .image {
              width: 180px;
            }
            .image:hover {
              opacity: 0.6;
              transition-duration: 0.3s;
            }
          }
          &__google {
            .image {
              width: 180px;
            }
            .image:hover {
              opacity: 0.6;
              transition-duration: 0.3s;
            }
          }
        }
      }
    }



    // FURIMAの特徴
    &__middle-introduction {
      padding: 60px 100px;
      background-color: #fff;
      &__title {
        font-size: 27px;
        text-align: center;
        margin: 0 0 40px;
        font-weight: bold;
        margin-bottom: 0;
        padding-bottom: 10px;
        &__border {
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          margin: 0 auto;
          margin-bottom: 25px;
        }
      }
      &__items {
        max-width: calc(1040px + 20px);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        &__item {
          display: flex;
          flex-direction: column;
          width: calc(1 / 3 * 100%);
          text-align: center;
          padding: 0 20px;
          &__icon {
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
            .image {
              width: 100%;
            }
          }
          &__text {
            margin: 38px 0 10px;
            font-size: 19px;
            font-weight: bold;
          }
          &__description {
            margin: 0 0 40px;
            font-size: 17px;
            font-weight: 200;
            text-align: left;
          }
        }
      }
    }



    // ピックアップカテゴリーandブランド
    &__content {
      padding: 80px 0 0;
      background-color: #f8f8f8;
      height: 100%;
      &__title {
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
      }
      &__product {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          .main__content__product__head {
            font-weight: bold;
          }
        }
        &__lists {
          width: 780px;
          margin: 26px auto;
          display: flex;
          justify-content: center;
          .list {
            width: 220px;
            display: inline-block;
            float: left;
            margin-right: 35px;
            .list__content{
              background-color: #fff;
              display: inline-block;

              .main__content__product__lists__list--image{
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                

                .img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                  
                }
              }
              .main__content__product__lists__list--body {
                background-color: white;
                color: #333;
                padding: 16px;
                &__name {
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                &__details {
                  font-size: 16px;
                  ul {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  }
  
                  p {
                    font-size: 10px;
                    text-align: left;
                    
                  }
                }
              
             }
            }
          }
        }
      }
    }




    // 今すぐ無料ダウンロード
    &__banner {
      background-image: url("/assets/material/pict/bg-appBanner-pict.jpg");
      padding: 100px 40px;
      position: relative;
      background-size: cover;
      background-position: center;
      &__content {
        color: #fff;
        text-align: center;
        &__title {
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          font-size: 24px;
          font-weight: bold;
          line-height: 1.4;
        }
        &__text {
          font-size: 35px;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
        }
        &__btn {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 20px auto 0;
          &__apple {
            margin-right: 10px;
            .image {
              width: 180px;
            }
            .image:hover {
              opacity: 0.6;
              transition-duration: 0.3s;
            }
          }
          &__google {
            .image {
              width: 180px;
            }
            .image:hover {
              opacity: 0.6;
              transition-duration: 0.3s;
            }
          }
        }
      }
    }
  }
}
