// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  padding: 0 60px;
  .headerInner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .main-header{
    position: relative;
    display: flex;
    align-items: center;
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        img{
          width: 140px;
        }
      }
      .search-box{
        margin-left: auto;
        width: 100%;
        background-color: blue;
      }
    }
    .nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .left-box{
        display: flex;
        list-style: none;
        &--first{
          position: relative;
          line-height: 38px;
          padding-right: 36px;
        }
        &--second{
          position: relative;
          line-height: 38px;
          padding-right: 36px;
        }
      }
       .right-box{
          margin-left: auto;
          display: flex;
          &--login{
            color: #333;
            line-height: 38px;
            padding-right:16px;
           }
          
          &--new{
            color:#333;
            line-height: 38px;
            padding-right:16px;
            
           }
         }
        }
        
      }
      .right-box{
        list-style: none;
        position: relative;
        display: flex;
        margin-left:auto;
      }
    }
  


