a {
  .item-sell{
    z-index:1;
    height: 120px;
    width: 120px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    background-color: #3CCACE;
    text-align: center;
    padding-top: 15px;
    border-radius: 4%;
    
    p{
      color: #fff;
      font-size: 18px;
    }
    img{
      width: 54px;
      height: 54px;      
    }
    &:hover {
      opacity: 0.6;
      transition-duration: 0.3s;
      }
    }
  }