.main{
  padding: 40px;
  margin:0 auto;
  .item-contents{
    width: 700px;
    .item-box{
      background-color: #fff;
      padding: 24px 40px 40px;
      &__name{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
      }
      &__image{
        margin: 0 30px;
        align-items: center;
        &__sold-mark {
          width: 0;
          height: 0;
          border-top: 80px solid blue ;
          border-right: 80px solid transparent;
          border-bottom: 80px solid transparent;
          border-left: 80px solid blue ;
          z-index:100;
          position: absolute;
          &--text {
            transform: rotate(-45deg);
            font-size: 28px;
            margin:-25px 0px 0px -55px;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
        
      }
    }
  }
}