// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  padding: 0 60px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

    color: #333;
    text-decoration: none;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  
  .header__Inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .main-header{
    position: relative;
    display: flex;
    align-items: center;
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        img{
          width: 140px;
        }
      }
      .search-box{
        margin-left: auto;
        width: 100%;
        form{
          display: flex;
          margin-bottom:5px;
          width: 100%;
          .input-box{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;

          }

          .search-btn{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            img{
              width: 100%;
              vertical-align: bottom;
            }

            
          }
      }
      }
    }
    .nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .left-box{
        display: flex;
        list-style: none;
        a{
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
        &--first{
          position: relative;
          line-height: 38px;
          padding-right: 36px;
        }
        &--second{
          position: relative;
          line-height: 38px;
          padding-right: 36px;
        }
      }
       .right-box{
          margin-left: auto;
          display: flex;
          a{
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
            font-size: 14px;
          }
          &--login{
            color: #333;
            line-height: 38px;
            padding-right:16px;
           }
          
          &--new{
            color:#333;
            line-height: 38px;
            padding-right:16px;
            
           }
         }
        }
        
      }
      .right-box{
        list-style: none;
        position: relative;
        display: flex;
        margin-left:auto;
      }
    }
  


//footer-black
.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  li{
    
   
  }
  h2{
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: bold;
  }
  ul{
    list-style: none;
  }
  a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 32px;
  }
  .footer-content{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  &__top{
    max-width:840px;
    display: flex;
    margin: 0 auto;

  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
      a{
        opacity: 1;
      }
      img{
        width: 100%;
        vertical-align: bottom;
      }
    
    p{
      font-size:14px;
    }
  }
}