*{
  box-sizing:border-box;
}
.itembuy_main_contents{
  height: 700px;
  width: 700px;
  margin: 0 auto;

.itembuy_main_contents_border{
    height: 12%;
    width: 100%;
    text-align: center;
    border-bottom: solid 3px rgb(218, 234, 240);
    .title1{
      line-height: 90px;
      }
  }
  
.itembuy_content{
  width: 100%;
  height: 20%;
  border-bottom: solid 2px rgb(218, 234, 240);
  display: flex;
}

.itembuy_content_in{
  height: 75px;
  width: 350px;
  margin: auto;
  align-items: center;
  display: flex;
  &__left{
    width: 75px;
    height: 75px;
    border: solid 1px rgb(218, 234, 240);
    align-items: flex-start;
  }
  &__right{
    height: 75px;
    width: 275px;
  }
}

.itembuy,.money {
  height: 60%;
  margin-left: 20px;
  }
}

.pay_contents{
  width: 100%;
  height: 70%;
  &__in{
    height: 100%;
    width: 350px;
    margin: auto;
  }

.pay_contents_charge{
  height: 28%;
  border-bottom: solid 2px rgb(218, 234, 240);
  &__pay1{
    height: 50%;
    display: flex;
    justify-content: space-between;
  }
  &__pay2{
    height: 50%;
    display: block;
  }
}

.payment{
  font-size: 20px;
  margin-top: 20px;
}
.totalmoney{
  font-size: 30px;
  margin-top: 20px;
}
.points{
  float: right;
  margin-top: -20px;
  margin-right: 90px;
}

.pay_box_itembuy{
  height: 24%;
  border-bottom: solid 2px rgb(218, 234, 240);
}
  
.pay_top{
  height: 50%;
  position: relative;
  &__text{
    height: 20px;
    position: absolute;
    bottom: 0;
  }
}

.pay_box_btn{
  height: 24%;
}

.btn_buy{
  height: 50px;
  width: 100%;
  margin-top: 35px;
  background-color:#3CCACE;;
  color: white;
  font-size: 15px;
  }
}

  