* {
  box-sizing: border-box;
}
.mypage{
  overflow:hidden;
  
  .mypage_html{
    background:whitesmoke;
    height: 100%;
    .mypage_container{
      margin: 40px auto 0;
      padding: 0 0 40px;
      width: 1020px;
      height: 100%;
    }
}

// サイドコンテンツ
.mypage_side_content{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
}

.mypage_nav_list li {
  border-top: 1px solid #eee;
}

.mypage_side_content__nav_list_item {
  position: relative;
  display: block;
  min-height: 48px;
  padding: 16px;
  background:  white;
  font-size: 14px;
  color: black;
  &__merpay,&__setup{
  line-height:70px;
  height: 48px;
  color: black;  
  }
}
  a {
    text-decoration: none;
    color: black;
    display: table-header-group;
  }

.fa-chevron-right{
  display: inline-block;
  position: absolute;
  top: 23px;
  right: 15px;
}
li{
  border-top: 1px solid #eee;
}
.mypage_icon{
  background-image: url("/imageicon.png");
  height: 60px;
  width: 60px;
}


// メインコンテンツ
.mypage_content{
  float: right;
  width: 700px;
  &__user_name{
    font-size:25px;
    color:#333;
  }
  &__user_icon{
    background-image: url('mypagemain.png');
    height: 170px;
    position: relative;
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    figure{
      overflow: hidden;
      margin: 0 auto;
      border-radius: 50%;
    }
    
    a{
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      color: #333;
    }
    h2 {
      font-size: 14px;
      margin: 8px 0 0;
    }
  }
  &__number{
    margin: 8px 0 0;
    display: flex;
    justify-content: center;
    div{
      margin: 0 0 0 16px;
    }
    span{
      margin: 0 0 0 8px;
    }
  }
}
// .mypage_content__active{
//   border-top: 2px solid #2d95ea;
//   background: rgb(161, 19, 19);
// }
.mypage_content__tabs{
  border: 0;
  background: #eee;
  a{
    position: relative;
    display: block;
    color: #333;
    font-size: 16px;
    line-height: 72px;
    text-decoration: none;
  }
  ul{
    list-style: none;
  }
  li{
    width: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
  }
}
.mypage_content__go_lists{
  display: none;
  text-align: center;
  border: 0;
}
.mypage_content__go_list {
  margin: 16px;
  width: 100%;
  font-size: 20px;
  text-decoration: none;
  display: block;
  background: #eee;
  color: #333;
  text-align: center;
}

.mypage_content__notification{
  li {
    border-bottom: 1px solid #eee;
    background: white;
    display: flex;
    &__2 {
    border-bottom: 1px solid #eee;
    background:rgba(173, 246, 248, 0.973);
    display: flex;
  }
  }
  &__buying_items {
    border-bottom: 1px solid #eee;
    background: white;
    display: flex;

  }
}
.mypage_content__item-body {
  display: block;
  min-height: 80px;
  padding: 16px;
  color: #333;
&__show{
  display: block;
  height: 80px;
  line-height: 80px;
  margin:0 auto;
  }
}
.mypage_content__tab-container {
  padding-top: 50px;
}
.mypages_profile {
  text-decoration: none;
  color: black;
}
}
