
.address_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 120px;
    &--title{
      @include title;
    }
    .field{
      &__postcode{
        @include user-form;
        &--label{
          font-size: 15px;
          font-weight: bold;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
      }
      &__prefecture_code{
        @include user-form;
        &--label{
          @include label;
        }
        #address_prefecture_code{
          @include field;
        }
      }
      &__address_city{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
      &__address_street{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
      &__address_building{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
      &__phone_number{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
    }
    .address_submit{
      padding: 20px 20% 30px 25%;
      &--btn{
        @include submit;
      }
    }
  }
}

.address_crate_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    height: calc(100vh - 340px);
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    &--title{
      @include title;
    }
  }
}
