.address_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    &--title{
    font-size: 22px;
    padding: 32px;
    line-height: 1.5;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
    font-weight: bold;
    }
    .field{
      &__postcode{
        width: 50%;
        margin: 0 auto;
        padding: 10px 0;
        &--label{
          font-size: 15px;
          font-weight: bold;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
      }
      &__prefecture_code{
        width: 50%;
        margin: 0 auto;
        padding: 10px 0;
        &--label{
          font-size: 15px;
          font-weight: bold;
        }
        #address_prefecture_code{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
      }
      &__address_city{
        width: 50%;
        margin: 0 auto;
        padding: 10px 0;
        &--label{
          font-size: 15px;
          font-weight: bold;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
      }
      &__address_street{
        width: 50%;
        margin: 0 auto;
        padding: 10px 0;
        &--label{
          font-size: 15px;
          font-weight: bold;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
      }
      &__address_building{
        width: 50%;
        margin: 0 auto;
        padding: 10px 0;
        &--label{
          font-size: 15px;
          font-weight: bold;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
      }
      &__phone_number{
        width: 50%;
        margin: 0 auto;
        padding: 10px 0;
        &--label{
          font-size: 15px;
          font-weight: bold;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
      }
    }
    .address_submit{
      padding: 20px 20% 30px 25%;
      &--btn{
        display       : inline-block;
        border-radius : 5%;         
        font-size     : 11pt;   
        text-align    : center;     
        cursor        : pointer;     
        padding       : 12px calc(50% - 44px);  
        background    : #3CCACE;    
        color         : #ffffff;     
        line-height   : 24px;         
        transition    : .3s;     
      }
    }
  }
}
.user_link__login{
  text-decoration: none;
  float: right;
  padding-right: 20px;
  padding-top: 10px;
  color: #3CCACE; 
}

.address_crate_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    height: calc(100vh - 347px);
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    &--title{
    font-size: 22px;
    padding: 32px;
    line-height: 1.5;
    text-align: center;
    border-bottom: 1px solid #f8f8f8;
    font-weight: bold;
    }
  }
}
