
.identification_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 120px;
    &--title{
      @include title;
    }
    &__name{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      .field{
        &__familyname{
          width: 35%;
          // margin-left: 15%;
          padding: 10px 0;
          &--label{
            @include label;
          }
          &--field{
            @include field;
          }
          span{
            @include require--btn;
          }
        }
        &__firstname{
          width: 35%;
          // margin-right: 15%;
          padding: 10px 0;
          &--label{
            @include label;
          }
          &--field{
            @include field;
          }
          span{
            @include require--btn;
          }
        }
      }
    } 
    &__kana{ 
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      .field{
        &__familyname_kana{
          position: relative;
          width: 35%;
          // margin-left: 15%;
          padding: 10px 0;
          &--label{
            @include label;
            white-space: nowrap
            
          }
          &--field{
            @include field;
          }
          span{
            @include require--btn;
            top: 6px;
            left: 135px;
            width: 43px;
            height: 22px;
            line-height: 14px;
          }
        }
        &__firstname_kana{
          position: relative;
          width: 35%;
          // margin-right: 15%;
          padding: 10px 0;
          &--label{
            @include label;
          }
          &--field{
            @include field;
          }
          span{
            @include require--btn;
            position: absolute;
            top: 6px;
            left: 135px;
            width: 43px;
            height: 22px;
            line-height: 14px;
          }
        }
      }
    }   
    .field{
      &__birth_date{
        margin-left: 25%;
        padding: 10px 0;
        position: relative;
        &--label{
          @include label;
        }
        #identification_birth_date_1i{
          height: 43px;
          width: 100px;
        }
        #identification_birth_date_2i{
          height: 43px;
          width: 50px;
        }
        #identification_birth_date_3i{
          height: 43px;
          width: 50px;
        }
        &--date{
          position: absolute;
          top: 50px;
          left: 50px;
          top: 44px;
          left: 261px;
        }
        &--require{
          @include require--btn;
        }
      }
    }
    .identification_submit{
      padding: 20px 20% 30px 25%;
      &--btn{
        @include submit; 
      }
    }
  }
}
