
.login_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 120px;
    &--title{
      @include title;
    }
    .field{
      &__email{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
        span{
          @include require--btn;
        }
      }
      &__password{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          padding-left: 5px;
          height: 43px;
          width: 100%;
        }
        span{
          @include require--btn;
        }
      }
    }
    .login_submit{
      padding: 20px 20% 30px 25%;
      &--btn{
        @include submit;  
      }
    }
  }
}
