.user_new_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    &--title{
      @include title;
    }
    .user_new_box__mail{
      @include user_new_box;  
      background    : #3CCACE; 
      color         : #ffffff;
      &--icon {
        position: absolute;
        left: 35px;
        top: 17px;
        font-size: 23px;
      }     
    }
    .user_new_box__facebook{
      @include user_new_box;
      background: #385185;
      color         : #ffffff;
      &--icon {
        position: absolute;
        left: 35px;
        top: 17px;
        font-size: 23px;
      }            
    }
    .user_new_box__google{
      @include user_new_box;
      border: 1px solid black;   
      &--icon {
        position: absolute;
        left: 30px;
        top: 16px;
        height: 25px;
      }          
    }
    .user_new_link{
      text-decoration: none;
      color         : #ffffff;
      white-space: nowrap;
    }
    .user_new_link--google{
      text-decoration: none;
      white-space: nowrap;
      color: black;
    }
    .user_link__login{
      @include link;
      padding-right: 20px;
      padding-top: 20px;
    }    
    .user_link__facebook{
      @include link;
      padding: 10px 20px 0 0;
    }
    .user_link__google{
      @include link;
      padding: 10px 20px 0 0;
      overflow: hidden
    }
  }
}

