
.user_main{
  background-color: #f8f8f8;
  width: 100%;
  padding-bottom: 80px;
  &__container{
    background-color: white;
    margin: 0 auto;
    width: 50%;
    padding-bottom: 50px;
    &--title{
      @include title;
    }
    .field{
      &__nickname{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
      &__email{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
      &__password{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
      &__confirmation{
        @include user-form;
        &--label{
          @include label;
        }
        &--field{
          @include field;
        }
      }
    }
    .user_submit{
      padding: 20px 20% 30px 25%;
      &--btn{
        @include submit;
      }
    }
  }
}
.user_link__login{
  @include link;
  padding-right: 20px;
  padding-top: 10px;
}
