- if user_signed_in?
  = link_to new_item_path do
    .item-sell
      %p
        出品する
      = image_tag "icon/icon_camera.png", class: "image"
- else 
  = link_to new_user_session_path do
    .item-sell
      %p
        出品する
      = image_tag "icon/icon_camera.png", class: "image"   