.user_header
  .user_header__top
    .user_header__top__logo
      = link_to root_path do
        = image_tag "/assets/material/logo/logo.png", class: "user_header__top__logo--icon"
    -# .user_header__top__chart
    -#   %ul.user_header__top__chart__list
    -#     %li
    -#       %p.user_header__top__chart__list--user
    -#         ユーザー情報
    -#     %li
    -#       %p.user_header__top__chart__list--identification
    -#         本人確認情報
    -#     %li
    -#       %p.user_header__top__chart__list--address
    -#         送付先住所情報